<h1>Listing probe_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Communication channel</th>
    <th>Value1 type</th>
    <th>Value2 type</th>
    <th>Value3 type</th>
    <th>Value4 type</th>
    <th>Value5 type</th>
    <th>Value6 type</th>
    <th>Value7 type</th>
    <th>Value8 type</th>
    <th>Value9 type</th>
    <th>Value10 type</th>
    <th>Value11 type</th>
    <th>Value12 type</th>
    <th>Value13 type</th>
    <th>Value14 type</th>
    <th>Value15 type</th>
    <th>Value16 type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @probe_types.each do |probe_type| %>
  <tr>
    <td><%= probe_type.name %></td>
    <td><%= probe_type.description %></td>
    <td><%= probe_type.communication_channel.name unless probe_type.communication_channel.nil? %></td>
    <td><%= probe_type.value1_type.name unless probe_type.value1_type.nil? %></td>
    <td><%= probe_type.value2_type.name unless probe_type.value2_type.nil? %></td>
    <td><%= probe_type.value3_type.name unless probe_type.value3_type.nil? %></td>
    <td><%= probe_type.value4_type.name unless probe_type.value4_type.nil?%></td>
    <td><%= probe_type.value5_type.name unless probe_type.value5_type.nil?%></td>
    <td><%= probe_type.value6_type.name unless probe_type.value6_type.nil?%></td>
    <td><%= probe_type.value7_type.name unless probe_type.value7_type.nil?%></td>
    <td><%= probe_type.value8_type.name unless probe_type.value8_type.nil?%></td>
    <td><%= probe_type.value9_type.name unless probe_type.value9_type.nil?%></td>
    <td><%= probe_type.value10_type.name unless probe_type.value10_type.nil?%></td>
    <td><%= probe_type.value11_type.name unless probe_type.value11_type.nil?%></td>
    <td><%= probe_type.value12_type.name unless probe_type.value12_type.nil?%></td>
    <td><%= probe_type.value13_type.name unless probe_type.value13_type.nil?%></td>
    <td><%= probe_type.value14_type.name unless probe_type.value14_type.nil?%></td>
    <td><%= probe_type.value15_type.name unless probe_type.value15_type.nil?%></td>
    <td><%= probe_type.value16_type.name unless probe_type.value16_type.nil?%></td>
    <td><%= link_to 'Show', probe_type %></td>
    <td><%= link_to 'Edit', edit_probe_type_path(probe_type) %></td>
    <td><%= link_to 'Destroy', probe_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Probe type', new_probe_type_path %>
