<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @probe_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @probe_type.description %>
</p>

<p>
  <b>Communication channel:</b>
  <%= @probe_type.communication_channel.name unless @probe_type.communication_channel.nil? %>
</p>

<p>
  <b>Value1 type:</b>
  <%= @probe_type.value1_type.name unless @probe_type.value1_type.nil? %>
</p>

<p>
  <b>Value2 type:</b>
  <%= @probe_type.value2_type.name unless @probe_type.value2_type.nil? %></p>

<p>
  <b>Value3 type:</b>
  <%= @probe_type.value3_type.name unless @probe_type.value3_type.nil? %></p>

<p>
  <b>Value4 type:</b>
  <%= @probe_type.value4_type.name unless @probe_type.value4_type.nil? %></p>

<p>
  <b>Value5 type:</b>
  <%= @probe_type.value5_type.name unless @probe_type.value5_type.nil? %></p>

<p>
  <b>Value6 type:</b>
  <%= @probe_type.value6_type.name unless @probe_type.value6_type.nil? %></p>

<p>
  <b>Value7 type:</b>
  <%= @probe_type.value7_type.name unless @probe_type.value7_type.nil? %></p>

<p>
  <b>Value8 type:</b>
  <%= @probe_type.value8_type.name unless @probe_type.value8_type.nil? %></p>

<p>
  <b>Value9 type:</b>
  <%= @probe_type.value9_type.name unless @probe_type.value9_type.nil? %></p>

<p>
  <b>Value10 type:</b>
  <%= @probe_type.value10_type.name unless @probe_type.value10_type.nil? %></p>

<p>
  <b>Value11 type:</b>
  <%= @probe_type.value11_type.name unless @probe_type.value11_type.nil? %></p>

<p>
  <b>Value12 type:</b>
  <%= @probe_type.value12_type.name unless @probe_type.value12_type.nil? %></p>

<p>
  <b>Value13 type:</b>
  <%= @probe_type.value13_type.name unless @probe_type.value13_type.nil? %></p>

<p>
  <b>Value14 type:</b>
  <%= @probe_type.value14_type.name unless @probe_type.value14_type.nil? %></p>

<p>
  <b>Value15 type:</b>
  <%= @probe_type.value15_type.name unless @probe_type.value15_type.nil? %></p>

<p>
  <b>Value16 type:</b>
  <%= @probe_type.value16_type.name unless @probe_type.value16_type.nil? %></p>


<%= link_to 'Edit', edit_probe_type_path(@probe_type) %> |
<%= link_to 'Back', probe_types_path %>
