<p id="notice"><%= notice %></p>

<p>
  <b>Probe:</b>
  <%= link_to "#{@message.probe.name} (#{@message.probe.location.name})", @message.probe %>
</p>

<p>
  <b>Message type:</b>
  <%= @message.message_type.name %>
</p>

<p>
  <b>Outgoing message count:</b>
  <%= @message.outgoing_message_count %>
</p>

<p>
  <b>Restart count:</b>
  <%= @message.restart_count %>
</p>

<p>
  <b>Device time:</b>
  <%= @message.device_time.strftime '%Y-%m-%d %H:%M:%S' %>
</p>

<p>
  <b>Device uptime:</b>
  <%= @message.device_uptime %>
</p>

<p>
  <b>Value1:</b>
  <%= @message.value1 %>
</p>

<p>
  <b>Value2:</b>
  <%= @message.value2 %>
</p>

<p>
  <b>Value3:</b>
  <%= @message.value3 %>
</p>

<p>
  <b>Value4:</b>
  <%= @message.value4 %>
</p>

<p>
  <b>Value5:</b>
  <%= @message.value5 %>
</p>

<p>
  <b>Value6:</b>
  <%= @message.value6 %>
</p>

<p>
  <b>Value7:</b>
  <%= @message.value7 %>
</p>

<p>
  <b>Value8:</b>
  <%= @message.value8 %>
</p>

<p>
  <b>Value9:</b>
  <%= @message.value9 %>
</p>

<p>
  <b>Value10:</b>
  <%= @message.value10 %>
</p>

<p>
  <b>Value11:</b>
  <%= @message.value11 %>
</p>

<p>
  <b>Value12:</b>
  <%= @message.value12 %>
</p>

<p>
  <b>Value13:</b>
  <%= @message.value13 %>
</p>

<p>
  <b>Value14:</b>
  <%= @message.value14 %>
</p>

<p>
  <b>Value15:</b>
  <%= @message.value15 %>
</p>

<p>
  <b>Value16:</b>
  <%= @message.value16 %>
</p>

<p>
  <b>Server time:</b>
  <%= @message.server_time.strftime '%Y-%m-%d %H:%M:%S' %>
</p>

<p>
  <b>Probe enabled:</b>
  <%= @message.probe_enabled %>
</p>

<p>
  <b>Message archived:</b>
  <%= @message.archived %>
</p>

<%= current_time_zone.html_safe %>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
