<h1>Listing service_classifications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent service classification</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service_classifications.each do |service_classification| %>
  <tr>
    <td><%= service_classification.name %></td>
    <td><%= service_classification.parent_service_classification %></td>
    <td><%= link_to 'Show', service_classification %></td>
    <td><%= link_to 'Edit', edit_service_classification_path(service_classification) %></td>
    <td><%= link_to 'Destroy', service_classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service classification', new_service_classification_path %>
