<%= form_for(@value_type) do |f| %>
  <% if @value_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value_type.errors.count, "error") %> prohibited this value_type from being saved:</h2>

      <ul>
      <% @value_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cumulative %><br />
    <%= f.check_box :cumulative %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
