<h1>Listing probes_probe_status_configrations</h1>

<table>
  <tr>
    <th>Probe</th>
    <th>Probe status configuration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @probes_probe_status_configrations.each do |probes_probe_status_configration| %>
  <tr>
    <td><%= probes_probe_status_configration.probe_id %></td>
    <td><%= probes_probe_status_configration.probe_status_configuration_id %></td>
    <td><%= link_to 'Show', probes_probe_status_configration %></td>
    <td><%= link_to 'Edit', edit_probes_probe_status_configration_path(probes_probe_status_configration) %></td>
    <td><%= link_to 'Destroy', probes_probe_status_configration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Probes probe status configration', new_probes_probe_status_configration_path %>
