<h1>Listing message_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @message_types.each do |message_type| %>
  <tr>
    <td><%= message_type.name %></td>
    <td><%= link_to 'Show', message_type %></td>
    <td><%= link_to 'Edit', edit_message_type_path(message_type) %></td>
    <td><%= link_to 'Destroy', message_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message type', new_message_type_path %>
