<%- model_class = Notification -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div style="text-align: center;"><%= will_paginate @notifications, :container => false %> (<%= page_entries_info @notifications %>)</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:reason_id) %></th>
      <th><%= model_class.human_attribute_name(:probe_id) %></th>
      <th><%= model_class.human_attribute_name(:notification_channel_id) %></th>
      <th><%= model_class.human_attribute_name(:to) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:scheduled_at) %></th>
      <th><%= model_class.human_attribute_name(:sent_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= link_to notification.id, notification_path(notification) %></td>
        <td><%= notification.reason_id %></td>
        <td><%= notification.probe_id %></td>
        <td><%= notification.notification_channel_id %></td>
        <td><%= notification.to %></td>
        <td><%= notification.subject %></td>
        <td><%= notification.body %></td>
        <td><%= notification.scheduled_at %></td>
        <td><%= notification.sent_at %></td>
        <td><%=l notification.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      notification_path(notification), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_notification_path(notification), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      notification_path(notification),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<div style="text-align: center;"><%= will_paginate @notifications, :container => false %> (<%= page_entries_info @notifications %>)</div>
<br/>

<%= current_time_zone.html_safe %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_notification_path,
            :class => 'btn btn-primary' %>
