<%= form_for(@user_service_classification) do |f| %>
  <% if @user_service_classification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_service_classification.errors.count, "error") %> prohibited this user_service_classification from being saved:</h2>

      <ul>
      <% @user_service_classification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :service_classification_id %><br />
    <%= f.number_field :service_classification_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
