<h1>Listing user_service_classifications</h1>

<table>
  <tr>
    <th>User</th>
    <th>Service classification</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_service_classifications.each do |user_service_classification| %>
  <tr>
    <td><%= user_service_classification.user_id %></td>
    <td><%= user_service_classification.service_classification_id %></td>
    <td><%= link_to 'Show', user_service_classification %></td>
    <td><%= link_to 'Edit', edit_user_service_classification_path(user_service_classification) %></td>
    <td><%= link_to 'Destroy', user_service_classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User service classification', new_user_service_classification_path %>
