<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_service_classification.user_id %>
</p>

<p>
  <b>Service classification:</b>
  <%= @user_service_classification.service_classification_id %>
</p>


<%= link_to 'Edit', edit_user_service_classification_path(@user_service_classification) %> |
<%= link_to 'Back', user_service_classifications_path %>
