<h1>Listing users</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Name</th>
    <th>Org Unit</th>
    <th>Email</th>
    <th>Mobile number</th>
    <th>Role</th>
    <th>Time zone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.customer.name unless user.customer.nil? %></td>
    <td><%= user.name %></td>
    <td><%= user.org_unit %></td>
    <td><%= user.email %></td>
    <td><%= user.mobile_number %></td>
    <td><%= user.role %></td>
    <td><%= user.time_zone %></td>
    <td><%= link_to 'Show', user %></td>
    <% if can? :update, user %>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
	<% end %>
    <% if can? :destroy, user %>
		<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<!--
<%= link_to 'New User', new_user_path %>
-->