<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @user.customer.name unless @user.customer.nil? %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
