<%= form_tag("/visualize_text/index", :method => "get", :html=>{:id=>'visualize_form'}) do %>
  Probe: <%= select_tag 'probe_id', options_for_select(Probe.accessible_by(current_ability).select{|p| p.enabled?}.collect{|p| ["#{p.customer.name}: #{p.name} (#{p.location.name})", p.id] }.sort, @probe.id), :onchange => "this.form.submit();" %>
  Start date: <%= datepicker_input(:foo, :start_date, :minDate => "-1M", :maxDate => "+1D", :size => 10, :dateFormat =>"yy-mm-dd" ) %>
  End date: <%= datepicker_input(:foo, :end_date, :minDate => "-1M", :maxDate => "+1D", :size => 10, :dateFormat =>"yy-mm-dd" ) %>
  <%= submit_tag "Refresh" %>
<% end %> 

<br/>
<%= will_paginate @messages, :container => false %> (<%= page_entries_info @messages %>) <%= link_to 'Export to Excel', url_for(:format => 'xls', :params => {:probe_id => @probe.id}) %>

<br/><br/>

<table>
  <tr>
    <th>Message type</th>
    <th><%=@value_type1%></th>
    <th><%=@value_type2%></th>
    <th><%=@value_type3%></th>
    <th><%=@value_type4%></th>
    <th>Server time</th>
    <th># Outgoing msgs</th>
    <th># Restarts</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.message_type.name unless message.message_type.nil? %></td>
    <td><%= message.value1 %></td>
    <td><%= message.value2 %></td>
    <td><%= message.value3 %></td>
    <td><%= message.value4 %></td>
    <td><%= message.server_time.strftime '%Y-%m-%d %H:%M:%S' %></td>
    <td><%= message.outgoing_message_count %></td>
    <td><%= message.restart_count %></td>
	<!--
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	-->
	<% if (!current_user.nil?) && (current_user.role? :manager) %>
		<td><%= link_to "Delete older messages from here", {:controller => "visualize_text", :action => :delete_messages_from_here, :id => message.id }, {:method => :post} %>
	<%end%>
</td>
  </tr>
<% end %>
</table>

<br/>
<%= will_paginate @messages, :container => false %> (<%= page_entries_info @messages %>)
<br/><br/>

<%= current_time_zone.html_safe %>
