<%= form_for(@probe_status_configuration) do |f| %>
  <% if @probe_status_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@probe_status_configuration.errors.count, "error") %> prohibited this probe_status_configuration from being saved:</h2>

      <ul>
      <% @probe_status_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :probe_id %><br />
    <%= f.number_field :probe_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :probe_status_template_id %><br />
    <%= f.text_field :probe_status_template_id %>
  </div>
  <div class="field">
    <%= f.label :rule_ok %><br />
    <%= f.text_field :rule_ok %>
  </div>
  <div class="field">
    <%= f.label :rule_warning %><br />
    <%= f.text_field :rule_warning %>
  </div>
  <div class="field">
    <%= f.label :rule_error %><br />
    <%= f.text_field :rule_error %>
  </div>
  <div class="field">
    <%= f.label :assumed %><br />
    <%= f.check_box :assumed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
