<p id="notice"><%= notice %></p>

<p>
  <b>Probe:</b>
  <%= @probe_status_configuration.probe_id %>
</p>

<p>
  <b>User:</b>
  <%= @probe_status_configuration.user_id %>
</p>

<p>
  <b>Probe status template:</b>
  <%= @probe_status_configuration.probe_status_template_id %>
</p>

<p>
  <b>Rule ok:</b>
  <%= @probe_status_configuration.rule_ok %>
</p>

<p>
  <b>Rule warning:</b>
  <%= @probe_status_configuration.rule_warning %>
</p>

<p>
  <b>Rule error:</b>
  <%= @probe_status_configuration.rule_error %>
</p>

<p>
  <b>Assumed:</b>
  <%= @probe_status_configuration.assumed %>
</p>


<%= link_to 'Edit', edit_probe_status_configuration_path(@probe_status_configuration) %> |
<%= link_to 'Back', probe_status_configurations_path %>
