<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subscriber1_id %><br />
	<%= f.select :subscriber1_id, User.all.collect{|p| [p.name, p.id]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :subscriber2_id %><br />
	<%= f.select :subscriber2_id, User.all.collect{|p| [p.name, p.id]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :subscriber3_id %><br />
	<%= f.select :subscriber3_id, User.all.collect{|p| [p.name, p.id]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :subscriber4_id %><br />
	<%= f.select :subscriber4_id, User.all.collect{|p| [p.name, p.id]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :subscriber5_id %><br />
	<%= f.select :subscriber5_id, User.all.collect{|p| [p.name, p.id]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :include_heartbeat %><br />
    <%= f.check_box :include_heartbeat %>
  </div>
  <div class="field">
    <%= f.label :include_alarm %><br />
    <%= f.check_box :include_alarm %>
  </div>
  <div class="field">
    <%= f.label :include_restart %><br />
    <%= f.check_box :include_restart %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
