<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Messages (HB A R)</th>
    <th>Subscriber 1</th>
    <th>Subscriber 2</th>
    <th>Subscriber 3</th>
    <th>Subscriber 4</th>
    <th>Subscriber 5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.name %></td>
    <td><%= subscription.include_heartbeat %> <%= subscription.include_alarm %> <%= subscription.include_restart %></td>
    <td><%= subscription.subscriber1.name unless subscription.subscriber1.nil? %></td>
    <td><%= subscription.subscriber2.name unless subscription.subscriber2.nil? %></td>
    <td><%= subscription.subscriber3.name unless subscription.subscriber3.nil? %></td>
    <td><%= subscription.subscriber4.name unless subscription.subscriber4.nil? %></td>
    <td><%= subscription.subscriber5.name unless subscription.subscriber5.nil? %></td>
    <td><%= link_to 'Show', subscription %></td>
    <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
    <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_subscription_path %>
