<%- model_class = ProbeConfiguration -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:heartbeat_interval) %></th>
      <th><%= model_class.human_attribute_name(:alarm_interval) %></th>
	  <th>Rules</th>
      <th><%= model_class.human_attribute_name(:value1_threshold) %></th>
      <th><%= model_class.human_attribute_name(:value2_threshold) %></th>
      <th><%= model_class.human_attribute_name(:value3_threshold) %></th>
      <th><%= model_class.human_attribute_name(:value4_threshold) %></th>
      <th>more thresholds</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @probe_configurations.each do |probe_configuration| %>
      <tr>
        <td><%= link_to probe_configuration.name, probe_configuration_path(probe_configuration) %></td>
        <td><%= probe_configuration.heartbeat_interval %></td>
        <td><%= probe_configuration.alarm_interval %></td>
		<td>...</td>
        <td><%= probe_configuration.value1_threshold %></td>
        <td><%= probe_configuration.value2_threshold %></td>
        <td><%= probe_configuration.value3_threshold %></td>
        <td><%= probe_configuration.value4_threshold %></td>
		<td>...</td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      probe_configuration_path(probe_configuration), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_probe_configuration_path(probe_configuration), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      probe_configuration_path(probe_configuration),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_probe_configuration_path,
            :class => 'btn btn-primary' %>
