<%= form_tag("/probe_indicators/index", :method => "get", :html=>{:id=>'probe_indicators_form'}) do %>
  Probe: <%= select_tag 'probe_id', options_for_select(Probe.accessible_by(current_ability).select{|p| p.enabled?}.collect{|p| ["#{p.customer.name}: #{p.name} (#{p.location.name})", p.id] }, @probe.id), :onchange => "this.form.submit();" %>
  <%= submit_tag "Refresh" %>
<% end %> 

<br/><br/>

<table>
  <tr>
    <th>Probe details</th><td/>
  </tr>
  <tr>
	<td>Current time</td>
	<td><%=Time.now%></td>
  </tr>
  <tr>
	<td>Name</td>
	<td><%=@probe.name%></td>
  </tr>
  <tr> 
	<td>Customer</td>
	<td><%=@probe.customer.name%></td>
  </tr>
  <tr>
	<td>Location</td>
	<td><%=@probe.location.name%></td>
  </tr>
  <tr>
	<td>Probe type</td>
	<td><%=@probe.probe_type.name%></td>
  </tr>
  <tr>
	<td>Probe configuration</td>
	<td><%=@probe.probe_configuration.name %></td>
  </tr>
  <tr>
	<td>Heartbeat interval (mins)</td>
	<td><%=@probe.probe_configuration.heartbeat_interval / 60 %></td>
  </tr>
  <tr>
	<td>First contact</td>
	<td>
		<% message = Message.find_by_probe_id(@probe.id) %>
		<%="never" if message.nil? %> <%= message.server_time.strftime '%Y-%m-%d %H:%M:%S' unless message.nil? %>
	</td>
  </tr>
  <tr>
	<td>Last contact</td>
	<td>
		<% message = Message.find_last_by_probe_id(@probe.id) %>
		<%="never" if message.nil? %> <%= message.server_time.strftime '%Y-%m-%d %H:%M:%S' unless message.nil? %>
	</td>
  </tr>
</table>

<br/><hr/><br/>

<table>
	<tr>
		<th>Message stats</th><td/>
	</tr>
	<tr>
		<td/><th>Today</th><th>Yesterday</th><th>Last 7 days (*)</th><th>Last 30 days (*)</th><th>Ever</th>
	</tr>
	<tr>
		<td># restarts</td><%= table_row_for(:restarts)%>
	</tr>
	<tr>
		<td># heartbeats</td><%= table_row_for(:heartbeats)%>
	</tr>
	<tr>
		<td># alarms (2)</td><%= table_row_for(:alarms)%>
	</tr>
	<tr>
		<td># missing messages (1)</td><%= table_row_for(:missing_messages)%>
	</tr>
	<tr>
		<td># expected heartbeats (3)</td><%= table_row_for(:expected_heartbeats)%>
	</tr>
	<tr>
		<td># inconsistent messages</td><%= table_row_for(:inconsistent_messages)%>
	</tr>
</table>
<br/>
(1): Missing messages: Each message has a message counter. Missing messages are counted through gaps in between the sequence of this message counter. Gaps of missing messages at the end of a time frame are not counted as there is no last message that could tell how many are missing.<br/>
(2): Depending on the probe one alarm can be send when going above the threshold and another one when going below again. <br/>
(3): Based on heartbeat interval of probe configuration (currently <%=@probe.probe_configuration.heartbeat_interval%> seconds).<br/>

<br/><hr/><br/>

<table>
	<tr>
		<th>Service quality (only value1)</th><td/>
	</tr>
	<tr>
		<td/><th>Today</th><th>Yesterday</th><th>Last 7 days (*)</th><th>Last 30 days (*)</th><th>Ever</th>
	</tr>
	<tr>
		<td>Threshold</td><td colspan="5" align="center"><%=@probe.probe_configuration.value1_threshold%></td>
	</tr>
	<tr>
		<td>Average value (5)</td><%= table_row_for(:value1_average)%>
	</tr>
	<tr bgcolor="LightGrey">
		<td>Service quality indicator (in %)</td><%= table_row_for(:value1_ratio)%>
	</tr>
	<tr>
		<td># messages above threshold</td><%= table_row_for(:value1_above_threshold)%>
	</tr>
	<tr>
		<td># messages below threshold</td><%= table_row_for(:value1_below_threshold)%>
	</tr>
</table>
<br/>
(5): Average across all received messages, not necessarily equally spread over time in time period. E.g. 10 alarms above threshold in one hour and 10 heartbeats below threshold in the remaining 23 hours could give a misleading average.<br/>
<br/><hr/><br/>

<table>
	<tr>
		<th>Availability</th><td/>
	</tr>
	<tr>
		<td/><th>Today</th><th>Yesterday</th><th>Last 7 days (*)</th><th>Last 30 days (*)</th><th>Ever</th>
	</tr>
	<tr>
		<td>Minutes without contact (approx.) (4)</td><%= table_row_for(:minutes_offline)%>
	</tr>
	<tr>
		<td>Total minutes in time frame</td><%= table_row_for(:minutes_in_timeframe)%>
	</tr>
	<tr bgcolor="LightGrey">
		<td>Availability ratio (approx.)</td><%= table_row_for(:availability_ratio)%>
	</tr>
</table>
<br/>
(4): No ultimate truth, kind of complex calculation, most likely doesn't catch all cases
<br/>
<br/><hr/><br/>

<table>
	<tr>
		<th>Date frames</th><td/>
	</tr>
	<tr>
		<td/><th>Today</th><th>Yesterday</th><th>Last 7 days (*)</th><th>Last 30 days (*)</th><th>Ever</th>
	</tr>
	<tr>
		<td>Date min (incl.)</td><td><%=@today%></td><td><%=@yesterday%></td><td><%=@daysago7%></td><td><%=@daysago30%></td><td><%=@ever%></td>
	</tr>
	<tr>
		<td>Date max (excl.)</td><td><%=@now%></td><td><%=@today%></td><td><%=@today%></td><td><%=@today%></td><td><%=@now%></td>
	</tr>	
</table>

<br/><hr/><br/>


<%= current_time_zone.html_safe %>

<br/>
 (*): Excluding today; always the whole period, regardless of probe active from the beginning of this period