<%= form_tag("/probe_indicators/index", :method => "get", :html=>{:id=>'probe_indicators_form'}) do %>
  Probe: <%= select_tag 'probe_id', options_for_select(Probe.accessible_by(current_ability).select{|p| p.enabled?}.collect{|p| ["#{p.customer.name}: #{p.name} (#{p.location.name})", p.id] }, @probe.id), :onchange => "this.form.submit();" %>
  <%= submit_tag "Refresh" %>
<% end %> 

<br/><br/>

<table>
  <tr>
    <th>Probe details</th><td/>
  </tr>
  <tr>
	<td>Name</td>
	<td><%=@probe.name%></td>
  </tr>
  <tr> 
	<td>Customer</td>
	<td><%=@probe.customer.name%></td>
  </tr>
  <tr>
	<td>Location</td>
	<td><%=@probe.location.name%></td>
  </tr>
  <tr>
	<td>Probe type</td>
	<td><%=@probe.probe_type.name%></td>
  </tr>
  <tr>
	<td>Last contact</td>
	<td>
		<% message = Message.find_last_by_probe_id(@probe.id) %>
		<%="never" if message.nil? %> <%= message.server_time.strftime '%Y-%m-%d %H:%M:%S' unless message.nil? %>
	</td>
  </tr>
  <tr>
	<td>Current date / time</td>
	<td><%=Date.today%> / <%=Time.now%></td>
  </tr>
</table>

<br/><br/>

<table>
	<tr>
		<th>Message stats</th><td/>
	</tr>
	<tr>
		<td/><th>Today</th><th>Yesterday</th><th>Last 7 days (*)</th><th>Last 30 days (*)</th><th>Ever</th>
	</tr>
	<tr>
		<td># restarts</td><%= table_row_for(:restarts)%>
	</tr>
	<tr>
		<td># heartbeats</td><%= table_row_for(:heartbeats)%>
	</tr>
	<tr>
		<td># alarms</td><%= table_row_for(:alarms)%>
	</tr>
	<tr>
		<td># missing messages</td><%= table_row_for(:missing_messages)%>
	</tr>
	<tr>
		<td># expected heartbeats</td><%= table_row_for(:expected_heartbeats)%>
	</tr>
	<tr>
		<td># inconsistent messages</td><%= table_row_for(:inconsistent_messages)%>
	</tr>
</table>
<br/><br/>

<table>
	<tr>
		<th>Service quality (only value1)</th><td/>
	</tr>
	<tr>
		<td/><th>Today</th><th>Yesterday</th><th>Last 7 days (*)</th><th>Last 30 days (*)</th><th>Ever</th>
	</tr>
	<tr>
		<td>Threshold</td>
	</tr>
	<tr>
		<td># messages above threshold</td><%= table_row_for(:value1_above_threshold)%>
	</tr>
	<tr>
		<td># messages below threshold</td><%= table_row_for(:value1_below_threshold)%>
	</tr>
	<tr>
		<td>Service quality indicator</td><%= table_row_for(:value1_ratio)%>
	</tr>
	<tr>
		<td>Average value</td><%= table_row_for(:value1_average)%>
	</tr>
</table>

<br/><br/>

<table>
	<tr>
		<th>Availability</th><td/>
	</tr>
	<tr>
		<td/><th>Today</th><th>Yesterday</th><th>Last 7 days (*)</th><th>Last 30 days (*)</th>
	</tr>
	<tr>
		<td>Approximated minutes without contact</td><%= table_row_for(:minutes_without_contact)%>
	</tr>
	<tr>
		<td>Total minutes in time frame</td><%= table_row_for(:minutes_in_timeframe)%>
	</tr>
	<tr>
		<td>Approximated availability ratio</td><%= table_row_for(:availability_ratio)%>
	</tr>
</table>

<br/>
<br/><br/>

<%= current_time_zone.html_safe %>

<br/>
 (*): Excluding today