<h1>Listing probes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Customer</th>
    <th>Location</th>
    <th>Location coordinates</th>
    <th>Probe configuration</th>
    <th>Probe type</th>
    <th>Forward subscription</th>
    <th>Cell number</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @probes.each do |probe| %>
  <tr>
    <td><%= probe.name %></td>
    <td><%= probe.customer.name unless probe.customer.nil? %></td>
    <td><%= probe.location.name unless probe.location.nil? %></td>
    <td><%= probe.location_coordinates %></td>
    <td><%= probe.probe_configuration.name unless probe.probe_configuration.nil? %></td>
    <td><%= probe.probe_type.name unless probe.probe_type.nil? %></td>
    <td><%= probe.forward_subscription.name unless probe.forward_subscription.nil? %></td>
    <td><%= probe.cell_number %></td>
    <td><%= probe.enabled %></td>
    <td><%= link_to 'Show', probe %></td>
    <% if can? :update, probe %>
		<td><%= link_to 'Edit', edit_probe_path(probe) %></td>
	<% end %>
    <% if can? :update, probe %>
		<td><%= link_to 'Destroy', probe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Probe', new_probe_path %>
