<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @probe.name %>
</p>

<p>
  <b>Customer:</b>
  <%= @probe.customer.name unless @probe.customer.nil? %>
</p>

<p>
  <b>Location:</b>
  <%= @probe.location.name unless @probe.location.nil? %>
</p>

<p>
  <b>Location coordinates:</b>
  <%= @probe.location_coordinates %>
</p>

<p>
  <b>Probe configuration:</b>
  <%= @probe.probe_configuration.name unless @probe.probe_configuration.nil? %>
</p>

<p>
  <b>Probe type:</b>
  <%= @probe.probe_type.name unless @probe.probe_type.nil? %>
</p>

<p>
  <b>Cell number:</b>
  <%= @probe.cell_number %>
</p>

<p>
  <b>Enabled:</b>
  <%= @probe.enabled %>
</p>


<%= link_to 'Edit', edit_probe_path(@probe) %> |
<%= link_to 'Back', probes_path %>
