<%= form_for(@probe_status) do |f| %>
  <% if @probe_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@probe_status.errors.count, "error") %> prohibited this probe_status from being saved:</h2>

      <ul>
      <% @probe_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :assumed %><br />
    <%= f.check_box :assumed %>
  </div>
  <div class="field">
    <%= f.label :severity_order %><br />
    <%= f.number_field :severity_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
