<h1>Listing locations</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Name</th>
    <th>Parent location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.customer.name %></td>
    <td><%= location.name %></td>
    <td><%= location.parent_location.name unless location.parent_location == nil %></td>
    <td><%= link_to 'Show', location %></td>
    <% if can? :update, location %>
		<td><%= link_to 'Edit', edit_location_path(location) %></td>
	<% end %>
    <% if can? :destroy, location %>
		<td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
