<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @location.customer_id %>
</p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Parent location:</b>
  <%= @location.parent_location_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
