<!DOCTYPE html>
<html>
<head>
  <title>mars monitoring</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %>
  <!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %>
  <!-- <label id="code.csrf"/> -->

</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
	<div style="float:left;"><a href="/"><img src="/logo-mars-cleaned-medium-150.jpg" width="33"/> monitoring</a> <%= notice %> <%= alert %> </div>
	<div style="float:right;">
	<% if user_signed_in? %>
		<%= link_to('Edit account', edit_user_registration_path) %>
		<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
	<% end %>
	</div>
	<br/>
  </div>
  <div id="columns">
    <div id="side">
      <ul id="ul1">
		<% if (!current_user.nil?) %>
			<li><%= link_to "Dashboard", dashboard_show_path %></li>
			<li><%= link_to "Current status", current_status_by_location_probe_type_path %></li>
			<li>Data views</li>
			<ul id="ul2">
	   			<% if @current_probe_id.nil? %>
					<li><%= link_to "Indicators", probe_indicators_index_path %></li>
		   			<li><%= link_to "Graphical view", visualize_d3_single_probe_path %></li>
					<li><%= link_to "Textual view", visualize_text_index_path %></li>
				<%else%>
					<li><%= link_to "Indicators", probe_indicators_index_path(:probe_id => @current_probe_id) %> </li>
		   			<li><%= link_to "Graphical view", visualize_d3_single_probe_path(:probe_id => @current_probe_id) %></li>
					<li><%= link_to "Textual view", visualize_text_index_path(:probe_id => @current_probe_id) %></li>
				<%end%>
			</ul>
		<% end %>
		<% if (!current_user.nil?) && (current_user.role? :manager) %>
		    <li>Manage</li>
	      	<ul id="ul2">
	       		<li><%= link_to "Probes", probes_path %></li>
	       		<li><%= link_to "Locations",locations_path %></li>
	       		<li><%= link_to "Users", users_path %></li>
	       		<li>Notifications</li>
			</ul>
		<% end %>
		<% if (!current_user.nil?) && (current_user.role? :superadmin) %>
	        <li>Site administration</li>
	      	<ul id="ul2">
	       		<li><%= link_to "Probe Configurations", probe_configurations_path %></li>
	       		<li><%= link_to "Subscriptions", subscriptions_path %></li>
	       		<li><%= link_to "Invalid messages", invalid_messages_path %></li>
	       		<li><%= link_to "Messages", messages_path %></li>
	       		<li><%= link_to "Messages (archived)", messages_index_archived_path %></li>
	       		<li><%= link_to "Probe Types", probe_types_path %></li>
	       		<li><%= link_to "Value Types", value_types_path %></li>
	       		<li><%= link_to "Customers", customers_path %></li>
			</ul>
		<% end %>
        <li>Support</li>
      	<ul id="ul2">
       		<li><a href="mailto:sales@marsgeneral.com">Contact us</a></li>
       		<li>Help</li>
		</ul>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
<!-- %= render :partial => 'layouts/google_analytics' if Rails.env == 'production' % -->
</body>
</html>
